* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.heading {
  padding: 20px;
  font-size: 40px;
  color: #ECF0F1;
}

.container {
  width: 100%;
  display: flex;
  height: inherit;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#upper {
  background-color: #34495E;
  bottom: 20px;
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#bothChoices {
  position: fixed;
  top: 20px;
  padding: 10px;
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#bothChoices>.bothC {
  align-items: center;
  font-weight: bold;
  color: #3498DB;  /* border: 1px solid green; */
}


#bothChoices>.bothC>#userC, #bothChoices>.bothC>#compC {
  color: #F1C40F; 
  font-weight: lighter;
  /* border: 1px solid rgb(212, 234, 16); */
}


#result {
  border-radius: 20px;
  padding: 20px;
  font-weight: bold;
  color: #ECF0F1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
  font-size: 40px;
  width: 80%;
  max-width: 400px;
}

#lower {
  background-color: #1ABC9C;
  bottom: 20px;
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#choices {
  width: 100%;
  height: 35%;
  margin-top: -2;
  background-color: #34495E;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  border: 3px solid #34495E;
}

button {
  width: 32%;
  border-radius: 50% 50% 0px 0px;
  padding: 10px 0px;
  margin: 0;
  font-size: 20px;
  border: none;
  background-color: #2980B9; 
  height: 100%;
}

button:hover {
  background-color: #5ba9dd;
}

.info {
  margin: 10px;
  width: 100%;
  background-color: #34495E;
  height: 60%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}